@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #039be5;
  font-family: "Syne", sans-serif;
}
.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}
.card {
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
  padding: 1rem;
  border: 1px solid #666;
  box-shadow: 5px 5px 15px 0px #ddd;
}
.cardtitle {
  font-size: 1.1rem;
}
.cardtitle a:hover {
  text-decoration: underline;
  text-decoration-color: #828282;
}
.countIndex {
  font-size: 25px;
}

.vote-button {
  font-size: 14px;
  padding: 3px;
  border: 1px solid #666;
  cursor: pointer;
  color: #666;
  margin-left: 0.25rem;
}
.pageTitle {
  font-size: 30px;
}
.inputSearch {
  padding:12px;
  font-size: 14px;
  flex-grow: 1;
}
.addBtn{
  width: 100%;
  
}
.buttonSearch {
  padding:12px;
  font-size: 14px;
  flex-shrink: 1;
}
.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: inherit;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

input {
  padding: 0.1em;
  margin-bottom: 0.2em;
}

.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0.5em 0;
  padding: 0;
  color: red;
  font-style: bold;
}

.header {
  height: 70px;
  background-color: #030749;
  white-space: nowrap;
  padding: 1rem;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header .flex {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header-title {
  font-size: larger;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  color: white;
  text-decoration: none;
}

.header-link {
  margin-left: 0.2rem;
  color: white;
  text-decoration: none;
}

.header-button {
  margin-left: 0.25rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header-name {
  color: white;
  text-decoration: none;
}

.divider {
  margin-left: 0.25rem;
  color: white;
}

.link {
  color: #828282;
}

textarea {
  margin-top: 0.5em;
  width: 90%;
}

.delete-button {
  color: red;
  cursor: pointer;
}

.app-container {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.route-container {
  background-color: rgb(255, 251, 251);
  backdrop-filter: blur(10px);
  padding-left: 1rem;
  height: calc(100vh - 70px);
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.forgot-password {
  padding: 1em 0;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 0;
}

.comment-author {
  color: #828282;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin: 0.5rem 0;
  width: 100%;
  margin-bottom: 0.2em;
}
